<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>joint.sistema.accion.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaExiste</servlet-name>
        <servlet-class>joint.sistema.control.RespuestaExiste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaRegistro</servlet-name>
        <servlet-class>joint.sistema.control.RespuestaRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTrabajador</servlet-name>
        <servlet-class>joint.sistema.accion.RegistrarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>joint.sistema.accion.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaColores</servlet-name>
        <servlet-class>joint.sistema.control.RespuestaColores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaExiste</servlet-name>
        <url-pattern>/RespuestaExiste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaRegistro</servlet-name>
        <url-pattern>/RespuestaRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTrabajador</servlet-name>
        <url-pattern>/RegistrarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaColores</servlet-name>
        <url-pattern>/RespuestaColores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
