.regresar{
    margin-top: 18px;
}
.center-btn{
    margin-top: 8px;
}
.registrar-btn{
    margin-top: 15px;
}
.container-principal{
  padding-bottom: 120px;
}
.center-thing-up{
    margin-top: 18px;
}
.fa{
    padding-top: 10px;
    padding-right: 10px;
}
.viaje-calificar{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 1px solid #222222;
}
.viaje-calificar:hover{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    border: 2px solid #222222;
}