.regresar{
    margin-top: 18px;
}
.center-btn{
    margin-top: 8px;
}
.registrar-btn{
    margin-top: 15px;
}
.container-principal{
  padding-bottom: 120px;
}
.center-thing-up{
    margin-top: 18px;
}
.fa{
    padding-top: 10px;
    padding-right: 10px;
}